SECRET=MIICXQIBAAKBgQDhLpQKdTkrV85LUII69FpJLLSmnZ2rwASWPyVEoZQ+6a16ltZWoTaKVw8FXAvxo7jZ6t9eBuPgfSGjmYihE//VNEOt7EXz1v4SaNE0E7CqvsEhTnYuhNE6V+EvfHcgGYen/lwWvwHAmxgcActqV+6wRSJ+kVDk7sLkG0zBsWa96QIDAQABAoGBAJv9HzJrZ/H9fnuvxrc+RDkCjhYJg4rRlpvaHGABqmc2iyUrzkjunpCQpGgrDl8S8l+LE7bYAQ2mwSHKntout35WSyu+L4DK0QYcdC7Srm67hgFbIq1mS5k1dsqHdbaaOvhWifTemjpUFY/dORTaX58ZGnwH/SijEw2Lbb/fqCUxAkEA9548vZ8JsGim4DUX1y6aJ9EWGecpbOkRmoOWLTn3FOH5tQDhZC3u/3UZ+vrouEvCJrTwcCc4P539i38bkDOkFQJBAOjN6vmBC0Ku7NeMBtCieBvNfUSbVQwgkso7yzN12nDGfBMy3wJKZ7DfmRxSTrri85K+Y0+O+rVK0wahR8tdQ4UCQQCkM29uAv+G1u8KMMr9a67YBoPUa4EB8tA0mVvF4/FgDLXs/Id6Sid5iWrQDwCx7bLyvfvPM4LOVPNkRMa/ai89AkB2Q+2DtK+Qv6Zn1aW8pVyY2yoxCSwKTh3kCL4wtUU0F1D+u9AYrM3CR8TTY2jFffe462kuCHeKU6mia5o6UHW1AkBi9K51SW7EOMyV/rZgE58wUMYp3Hs59QgWMlq52rTLNM7HkA9sbCCTthXBc/Z1XJ/ccwAOunEW9iwQymGUuwU2
MONGODB_URL="mongodb://localhost:27017/reprograma" 